# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
application-dev.yml

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
*.md
README*

# Test
test/
